@inherits LayoutComponentBase

    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>

    <div class="main">

        <div class="content px-4">
            @Body
        </div>
    </div>
