@page "/"
@using OandaBlazorApp.Pages.Footer
@inherits HomeBase
@attribute [Authorize]

    <div class="main">

        <div class="content px-4">
            <div class="row">
                @if (StocksList != null)
                {
                    if (viewType == Models.ViewType.TABLE)
                    {
                        <div class="col-3">
                            <table class="table table-active text-center">
                                @foreach (Models.Stock stock in StocksList)
                                {
                                    <ProductComponent stock="stock" type="viewType"></ProductComponent>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        @foreach (Models.Stock stock in StocksList)
                        {
                            <ProductComponent stock="stock" type="viewType"></ProductComponent>
                        }
                    }
                }
                </div>
            </div>
        </div>
    <FooterComponent viewType="viewType" OnChangeViewType="((type) => ChangeViewType(type))" />