@page "/"
@using OandaBlazorApp.Pages.Product
@inherits HomeBase
@attribute [Authorize]

@if (StocksList != null)
{
    if (viewType == Models.ViewType.TABLE)
    {
    <div class="row">
        <div class="col-2">
            <table class="table table-active text-center">
                @foreach (Models.Stock stock in StocksList)
                {
                    <ProductComponent stock="stock" type="viewType"></ProductComponent>
                }
            </table>
        </div>
    </div>
    }
    else
    {
    <div class="row">
        @foreach (Models.Stock stock in StocksList)
        {
        <ProductComponent stock="stock" type="viewType"></ProductComponent>
        }
    </div>
    }
}