@inherits FooterBase

<footer class="footer bg-primary">
    <div class="container" style="display: flex; justify-content:space-between">
        <div style="flex-direction:column">@Message</div>
        <div style="flex-direction:column">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button disabled="@(viewType==ViewType.CARD)" 
                        type="button" class="btn btn-secondary"
                        @onclick="(() => ChangeViewType(ViewType.CARD))">
                    CARD
                </button>
                <button disabled="@(viewType==ViewType.TABLE)" 
                        type="button" class="btn btn-secondary"
                        @onclick="(() => ChangeViewType(ViewType.TABLE))">
                    TABLE
                </button>
            </div>
        </div>
    </div>
</footer>